body{
    margin:0;
    padding: 0;
    max-width: 100%;    
}
h1{
    color:red;
}
.navbar{
    background-color: #CFEBE6;
    
}
.home-icon{
    height:30px;
    width:30px;
    border:none;
}
.nav-item{
    border: 1px solid black;
    text-align: center;
    margin-top: 20px;
    margin-left:50px;
    margin-right:50px;
    border-radius: 15px;
    height: 40px;
}
.nav-item:hover{
    background-color:white;
    color: red;
    text-decoration: none;

}
.nav-link{
    color:red;
    /* text-decoration:none; */
}
.card-title{
    color:red;
    text-align: center;
}
.container{
    margin-top: 60px;
}
.logo{
    /* height:50px; */
    width: 200px;

}
.header_image{
    width: 100%;
}
.service{
    height: 300px;
    width: 100%;
    padding: 5px;
}
.card-body{
    background-color: #F8F8F8;
    border-radius: 0 0 10px 10px;
}
.notice{
    background-color: #F8F8F8;
    border-radius: 15px;
}
.comments{
    background-color: #F8F8F8;
    border-radius: 15px;
}
.comments img{
    height: 100px;
    width: 100px;
}
.comment-section {
    border: 1px solid black;
    background-color:#E5F5F9;
}
.contact{
    background-color: #F8F8F8;
    border-radius: 15px;
}
.contact img{
    height: 100px;
    width: 100px;
    padding: 10%;
    margin-left: 18px;
}
.footer{
    background-color:#050637;
    color: white;
}